*,
*::before,
*::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
    background-color: gray;
    min-height: 100vh;
    font-family: sans-serif;
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: gainsboro;
}
main {
    display: flex;
    justify-content: center;
}
.add-btn {
    background-color: transparent;
    border: hidden;
    font-size: 24px;
    padding-top: 2rem;
    cursor: pointer;
}
#library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

}
.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.2;
    font-size: 20px;
    
}
.card-body {
    display: flex;
    flex-direction: column;
}
/* .form {
    display: flex;
    justify-content: center;
} */
form {
    position: fixed;
    width: 200px;
    background-color: ghostwhite;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: large;
}